<li class="clearfix">
  <div class="message-data align-right">
    <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
    <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
  </div>
  <div class="message other-message float-right">
    <%= chat_message.content %>
  </div>
</li>
