Hi <%= @user.display_name %>, <br/><br/>

<p>Sorry but your payment has been rejected. Please make sure your payment info is correct.</p>
<br/>

<p>Your card number: <%= @card[:card_number] %></p>
<p>Expiration Date: <%=@card[:exp_date]%></p>
<p></p>


<br/>
<p>Happy Knocking!</p>
<p>Knock Team</p>